/* Prevent global scrolling for vote layout */
.vote-layout-no-scroll,
.vote-layout-no-scroll body,
.vote-layout-no-scroll html {
  overflow: hidden;
}

/* Root wrapper */
.vote-layout-root {
  /* display: flex;
  justify-content:center; */
  /* width: 100vw; */
  height: 100vh;
}

/* Main container */
.vote-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1650px;
  height: 100vh;
}

/* Body (sidebar + main) */
.vote-layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: space-between;
  gap: 80px;
  align-items: stretch;
}

/* Sidebar wrapper */
.vote-layout-aside {
  flex: 0 0 250px; /* fixed sidebar width */
  overflow: hidden;
}

/* Sidebar content */
.vote-layout-aside aside {
  height: 100%;
  overflow-y: auto;
}

/* Main wrapper */
.vote-layout-main {
  flex: 1; /* take remaining space */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Main content */
.vote-layout-main main {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

/* Footer */
.vote-layout-container footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
