* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e8e9ed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 500px;
    width:600px;
    max-width: 500px;
    text-align: center;
    
}

.profile-img {
    position: absolute;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.profile-img img {
    position: relative;
    bottom: 110px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    color: black;
    top: 320px;
}

.profile-info-box {
    border-top: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
    position: absolute;
    width: 27%;
    top: 360px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.info-row:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
}

.label {
    font-size: 16px;
    font-weight: 600;
    color: #003D6C;
}

.value {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.logout-btn {
    position: relative;
    background-color: #FF4043;
    color: white;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 210px;
    left: 150px;
}

.logout-btn:hover {
    background-color: #ff3838;
}

.logout-btn:active {
    transform: scale(0.98);
}
